@model Dorothy.ViewModels.Guests.CreateViewModel

<div class="row">
    <div class="col-xs-12">
        <h2>Gast hinzufügen</h2>
        <form class="form-horizontal" method="POST">
            @Html.ValidationSummary()

            @Html.Partial("_Edit")

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Hinzufügen</button>
                </div>
            </div>
        </form>
    </div>

</div>