@model Dorothy.ViewModels.Guests.DeleteViewModel

<div class="row">
    <div class="col-xs-12">
        <h2>Gast löschen</h2>

        <form class="form-horizontal" method="POST">

            <p>
                Ganz sicher und unwiderbringlich den Gast <b>@Model.Names</b> löschen?
            </p>

            <div class="form-group">
                <a href="@Url.Action("Index")" class="btn btn-default">Nein, zurück</a>
                <button type="submit" class="btn btn-danger">Ja, löschen</button>
            </div>
        </form>
    </div>
</div>
