@model Dorothy.ViewModels.Guests.EditViewModel

<h2>Gast bearbeiten</h2>
<hr />

<form class="form-horizontal" method="POST">
    @Html.ValidationSummary()

    @Html.Partial("_Edit")

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
    </div>
</form>