@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: url("../img/background.png") white;
    font-size: 16px;
    color: black;
    margin-top: 20px;
}

a, a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: black;

    &:hover {
        text-decoration: underline;
        text-decoration-style: solid;
    }
}

a.btn, a.btn:hover, .nav a {
    text-decoration: none;
}


h1, h2, h3 {
    margin-top: 0;
}


button {
    .glyphicon {
        font-size: 90%;
    }
}


.col-md-6 {
    background-color: white;
    padding: 20px;
    background-clip: padding-box;
    border: 20px solid transparent;
    border-top: 0;

    @media (min-width: 992px) {
        border: 0;
        border-bottom: 20px solid transparent;

        &:nth-of-type(1) {
            border-right: 10px solid transparent;
        }

        &:nth-of-type(2) {
            border-left: 10px solid transparent;
        }
    }
}


.col-xs-12 {
    background-color: white;
    padding: 20px;
    background-clip: padding-box;
    border: 20px solid transparent;
    border-top: 0;

    @media (min-width: 992px) {
        border: 0;
        border-bottom: 20px solid transparent;
    }
}



.field-validation-error, .validation-summary-errors {
    background-color: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-position: inside;
    }
}


@mixin glyphicon-error() {
    color: white;
    padding: 3px;
    border-radius: 50%;
    cursor: default;
}


.glyphicon {
    &.error {
        @include glyphicon-error;
        background-color: red;
    }

    &.warning {
        @include glyphicon-error;
        background-color: orange;
    }

    &.huge {
        font-size: 100px;
    }
}

.text-muted.salutation {
    font-size: 9px;
}


.navbar {
    margin: 0 0 20px 0;
    padding: 0 -15px;

    a, a:hover, a:visited, a:active {
        color: black;
    }

    .container {
        @media (min-width: 768px) {
            padding: 0;
        }
    }

    .navbar-header {
        background-color: white;
        background-clip: padding-box;
        border: 20px solid transparent;
        border-top: 0;
        border-bottom: 0;

        @media (min-width: 992px) {
            border: 0;
        }

        a.navbar-brand {
            padding: 0 20px 0 20px;

            img {
                height: 50px;
                padding: 5px 0;

                @media (min-width: 768px) {
                    padding: 5px 15px;
                }
            }
        }

        .navbar-toggle .icon-bar {
            background-color: black;
        }
    }

    .navbar-collapse {
        background-color: white;
        background-clip: padding-box;
        border: 20px solid transparent;
        border-top: 0;
        border-bottom: 0;

        @media (min-width: 992px) {
            border: 0;
        }
    }
}

@import "pages/home.scss";
@import "pages/login.scss";
@import "pages/rsvp.scss";
@import "pages/photos.scss";
@import "pages/save-the-date.scss";
