body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.field-validation-error, .validation-summary-errors {
    background-color: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 15px;

    ul {
        margin:0;
        padding:0;
        list-style-type: none;
        list-style-position: inside;
    }
}


@mixin glyphicon-error() {
    color: white;
    padding: 3px;
    border-radius: 50%;
    cursor: default;
}


.glyphicon {
    &.error {
        @include glyphicon-error;
        background-color: red;
    }

    &.warning {
        @include glyphicon-error;
        background-color: orange;
    }
}

.text-muted.salutation {
    font-size: 9px;
}

body.login {
    .well {
        label, input, .btn {
            font-size: 20px;
            height: 40px;
            padding: 0 12px;
            display: block;
            margin:0;
        }

        label {
            text-align: center;
        }

        .btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

body.save-the-date {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-size: 17px;
    hyphens: manual;

    a, a:hover {
        color: #333;
    }

    h1 {
        text-align: center;
        font-size: 45px;
        font-weight: bold;
    }

    h2 {
        text-align: center;
        font-size: 35px;
    }

    h3 {
        text-align: center;
        font-size: 30px;

        span {
            font-size: 25px;
        }
    }

    .well {
        background-color: rgba(255, 255, 255, 0.75);
    }
}
