@import url(https://fonts.googleapis.com/css?family=Roboto:100);
body {
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background: url("../img/background.png") white;
  font-size: 16px;
  color: black;
  margin-top: 20px; }

a, a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: black; }
  a:hover, a:hover:hover {
    text-decoration: underline;
    text-decoration-style: solid; }

a.btn, a.btn:hover, .nav a {
  text-decoration: none; }

h1, h2, h3 {
  margin-top: 0; }

button .glyphicon {
  font-size: 90%; }

.col-md-6 {
  background-color: white;
  padding: 20px;
  background-clip: padding-box;
  border: 20px solid transparent;
  border-top: 0; }
  @media (min-width: 992px) {
    .col-md-6 {
      border: 0;
      border-bottom: 20px solid transparent; }
      .col-md-6:nth-of-type(1) {
        border-right: 10px solid transparent; }
      .col-md-6:nth-of-type(2) {
        border-left: 10px solid transparent; } }

.col-xs-12 {
  background-color: white;
  padding: 20px;
  background-clip: padding-box;
  border: 20px solid transparent;
  border-top: 0; }
  @media (min-width: 992px) {
    .col-xs-12 {
      border: 0;
      border-bottom: 20px solid transparent; } }

.field-validation-error, .validation-summary-errors {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px; }
  .field-validation-error ul, .validation-summary-errors ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside; }

.glyphicon.error {
  color: white;
  padding: 3px;
  border-radius: 50%;
  cursor: default;
  background-color: red; }

.glyphicon.warning {
  color: white;
  padding: 3px;
  border-radius: 50%;
  cursor: default;
  background-color: orange; }

.glyphicon.huge {
  font-size: 100px; }

.text-muted.salutation {
  font-size: 9px; }

.navbar {
  margin: 0 0 20px 0;
  padding: 0 -15px; }
  .navbar a, .navbar a:hover, .navbar a:visited, .navbar a:active {
    color: black; }
  @media (min-width: 768px) {
    .navbar .container {
      padding: 0; } }
  .navbar .navbar-header {
    background-color: white;
    background-clip: padding-box;
    border: 20px solid transparent;
    border-top: 0;
    border-bottom: 0; }
    @media (min-width: 992px) {
      .navbar .navbar-header {
        border: 0; } }
    .navbar .navbar-header a.navbar-brand {
      padding: 0 20px 0 20px; }
      .navbar .navbar-header a.navbar-brand img {
        height: 50px;
        padding: 5px 0; }
        @media (min-width: 768px) {
          .navbar .navbar-header a.navbar-brand img {
            padding: 5px 15px; } }
    .navbar .navbar-header .navbar-toggle .icon-bar {
      background-color: black; }
  .navbar .navbar-collapse {
    background-color: white;
    background-clip: padding-box;
    border: 20px solid transparent;
    border-top: 0;
    border-bottom: 0; }
    @media (min-width: 992px) {
      .navbar .navbar-collapse {
        border: 0; } }

body.home .glyphicon {
  font-size: 90%;
  color: #777; }

body.home .date-box {
  font-size: 30px;
  text-align: center; }
  @media (min-width: 992px) {
    body.home .date-box {
      padding-bottom: 12px; } }
  body.home .date-box img {
    height: 120px;
    margin: 20px auto 0 auto; }
  body.home .date-box p:last-of-type {
    font-size: 16px; }

body.login .col-md-6:nth-of-type(1) img {
  width: 100%; }

body.login .col-md-6:nth-of-type(2) label, body.login .col-md-6:nth-of-type(2) input, body.login .col-md-6:nth-of-type(2) .btn {
  font-size: 20px;
  height: 40px;
  padding: 0 12px;
  display: block;
  margin: 0; }

body.login .col-md-6:nth-of-type(2) label {
  margin-top: 50px;
  text-align: center; }

body.login .col-md-6:nth-of-type(2) .btn {
  margin-left: auto;
  margin-right: auto; }

body.rsvp input#Name {
  display: inline;
  width: 180px; }

body.rsvp select#Type {
  display: inline;
  width: 180px; }

body.rsvp input#AdultsCount, body.rsvp input#ChildCount {
  display: inline;
  width: 60px; }

body.rsvp textarea {
  height: 60px; }

body.photos div.row {
  background-color: white; }

body.photos div.col-sm-4 {
  text-align: center;
  padding: 20px; }
  body.photos div.col-sm-4 div.round img {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px; }

body.save-the-date {
  background: url("../img/kissing.jpg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  font-size: 17px;
  hyphens: manual; }
  body.save-the-date a, body.save-the-date a:hover {
    color: #333; }
  body.save-the-date h1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold; }
  body.save-the-date h2 {
    text-align: center;
    font-size: 35px; }
  body.save-the-date h3 {
    text-align: center;
    font-size: 30px; }
    body.save-the-date h3 span {
      font-size: 25px; }
  body.save-the-date .well {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.75); }

