body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.field-validation-error, .validation-summary-errors {
    background-color: red;
    color: white;
    padding: 3px 6px;
}

@mixin glyphicon-error() {
    color: white;
    padding: 3px;
    border-radius: 50%;
    cursor: default;
}

.glyphicon {
    &.error {
        @include glyphicon-error;
        background-color: red;
    }

    &.warning {
        @include glyphicon-error;
        background-color: orange;
    }
}

.text-muted.salutation {
    font-size: 9px;
}

.page {
    .save-the-date {
        h1 {
            text-align:center;
        }
        h2 {
            text-align:center;
        }
        h3 {
            text-align:center;
        }

    }
}
