body.login {
    .col-md-6:nth-of-type(1) {
        img {
            width: 100%;
        }
    }

    .col-md-6:nth-of-type(2) {
        label, input, .btn {
            font-size: 20px;
            height: 40px;
            padding: 0 12px;
            display: block;
            margin: 0;
        }

        label {
            margin-top: 50px;
            text-align: center;
        }

        .btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
}