body.photos {
    div.row {
        background-color: white;
    }

    div.col-sm-4 {
        text-align: center;
        padding: 20px;

        div.round img {
            border-radius: 50%; 
            max-width: 150px;
            max-height: 150px;
        }
    }
}
