@model Dorothy.ViewModels.Photos.IndexViewModel

@{
    ViewBag.BodyCssClass = "photos";
}

<div class="row">
    <div class="col-xs-12">
        <h2>
            <span class="glyphicon glyphicon-camera"></span> Fotos und Videos
        </h2>

        <p>
            Wir bemühen uns, alle Fotos unserer Hochzeit zu sammeln und hier zu veröffentlichen.
            Wenn du selbst Fotos gemacht hast, bitte sei so gut und <a href="https://1drv.ms/f/s!AitANheAUPSOh8JlW6UpJdo1mqho4w">teile sie mit uns</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <a href="https://1drv.ms/a/s!AitANheAUPSOh8VRZGRkPE9d9DmOog" target="_blank">
            <div class="round">
                <img src="~/img/gallery_paarfotos.png" />
            </div>
            <br />
            Paare (168)
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://1drv.ms/a/s!AitANheAUPSOh8VSCc5fvYLkwcKnFA" target="_blank">
            <div class="round">
                <img src="~/img/gallery_fotoschachtel.png" />
            </div>
            <br />
            Schnappschüsse aus der Fotoschachtel (38)
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://1drv.ms/a/s!AitANheAUPSOh8kDAOIBms7mnMSvjQ" target="_blank">
            <div class="round">
                <img src="~/img/gallery_christian.png" />
            </div>
            <br />
            Christians Fotos (234)
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://1drv.ms/a/s!AitANheAUPSOh8kFzqKsa4sF6_heoQ" target="_blank">
            <div class="round">
                <img src="~/img/gallery_regi.png" />
            </div>
            <br />
            Regis Fotos (27)
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <a href="https://1drv.ms/a/s!AitANheAUPSOh8kPde1zEzIGNfaQ4g" target="_blank">
            <div class="round">
                <img src="~/img/gallery_standesamt.png" />
            </div>
            <br />
            Standesamt (163)
        </a>
    </div>
    <div class="col-sm-3">
        <a href="https://1drv.ms/f/s!AitANheAUPSOh8JlW6UpJdo1mqho4w" target="_blank">
            <div class="round">
                <img src="~/img/OneDrive.png"/>
            </div>
            <br/>
            Alle Fotos
        </a>
    </div>
</div>