@model Dorothy.ViewModels.Photos.IndexViewModel

<h2>Fotos und Videos</h2>

<div class="row">
    <div class="col-md-10">
        <div class="alert alert-info">
            Hier möchten wir alle Fotos und Videos sammeln, die du und die anderen Gäste während unserer Hochzeit machen. Smartphones sei Dank geht das ja so einfach wie noch nie.
            Alle Fotos werden dann an dieser Stelle allen Gästen zur Verfügung gestellt.<br /><br />
            Noch wissen wir nicht genau, wie wir das möglichst einfach und bequem für alle machen werden.
            Aber zum Glück ist es ja noch ewig bis zum großen Dank, bis dahin wird uns sicher etwas einfallen.
        </div> 
    </div>
    <div class="col-md-2 text-center">
        <h1><span class="glyphicon glyphicon-camera huge"></span></h1>
    </div>    
</div>

