@model Dorothy.ViewModels.SaveTheDate.IndexViewModel
@{
    ViewBag.BodyCssClass = "save-the-date";
}

<div class="row">
        
    <div class="col-lg-6">
        <div class="well">
            <h2>
                Save the date
            </h2>

            <hr/>

            <h1>
                3. September 2016
            </h1>

            <hr/>

            <h3>
                <span class="glyphicon glyphicon-time"></span> 16:00 Uhr<br />
                <span class="glyphicon glyphicon-map-marker"></span> Linz (Treffling)
            </h3>
        </div>
    </div>
        
    <div class="col-lg-6">
        <div class="well">
            <p>
                <b>@(Model.Salutation ?? "Hallo,")</b>
            </p>

            <hr/>

            <p>
                jup, wir heiraten. Ist ja auch end&shy;lich mal an der Zeit, das mit dem Kind haben wir eh irgend&shy;wie schon über&shy;sehen.
            </p>

            <p>
                Wir würden uns sehr freuen, wenn du mit uns feierst.
            </p>
                
            <p>
                Du wirst natürlich noch eine ordent&shy;liche Ein&shy;ladung von uns be&shy;kom&shy;men, so wie sich das gehört.
                Das kann aber noch ein bis&shy;schen dauern. Des&shy;wegen haben wir uns ge&shy;dacht, dass eine Vor&shy;warnung schon jetzt nütz&shy;lich sein könnte.
                Nun, du bist hier&shy;mit vorgewarnt.
            </p>

            <p>
                Liebe Grüße,
            </p>

            <p>
                <b>Christina und Hannes</b>
            </p>

            <hr/>

            <p>
                ps: Du kannst uns unter <a href="mailto:cfeilmayr@icloud.com">cfeilmayr@icloud.com</a> oder 
                <a href="mailto:hannes@sachsenhofer.com">hannes@sachsenhofer.com</a> er&shy;reichen. Zum Bei&shy;spiel bei Fragen, oder auch einfach nur so.
            </p>
        </div>
    </div>
    
</div>