@model Dorothy.ViewModels.Home.LoginViewModel

@{
    ViewBag.BodyCssClass = "login";
}

<div class="row">
    <div class="col-md-6">
        <img src="/img/names.png" />
    </div>

    <div class="col-md-6">
        <p>
            Christina und Hannes haben geheiratet. Vielen Dank dass du dabei warst! Hier findest du nun alle Fotos der Hochzeit.
        </p>

        <p>
            <b>Ohne Passwort kommst du aber nicht weiter</b>
        </p>

        <p>
            Du findest das Passwort auf deiner Einladung. Solltest du Probleme haben, dann kontaktiere bitte Christina oder Hannes.
        </p>
        <form method="POST">
            @Html.ValidationSummary()

            <div class="form-group">
                <label asp-for="Password" class="control-label"><span class="glyphicon glyphicon-pencil"></span> Passwort</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Hier bitte das Passwort eingeben ..." />
            </div>

            <button type="submit" value="Weiter" class="btn btn-default">

                <span class="glyphicon glyphicon-chevron-right"></span>
                Weiter
            </button>
        </form>
    </div>
</div>